h1 {
	color: white;
}

body {
	background-color: black;
}

.lesson {
	background-color: grey;
}

.concept {
	background-color: white;
}

.concept-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}